<div class="col-xs-3">
	<%= render 'users/profile', user: @user %>
	<%= render 'relationships/follow_button', user: @user %>
	<%= render 'books/new_book', book: @book %>
</div>
<div class="col-xs-8">
	<h2>Books</h2>
	<table class="table table-hover">
		<thead>
			<tr>
				<th></th>
				<th>title</th>
				<th>opinion</th>
			</tr>
		</thead>
		<% @books.each do |book| %>
			<tbody>
				<tr>
					<td>
						<%= link_to user_path(@user.id) do %>
						<%= attachment_image_tag @user, :profile_image, fallback: "img/no_image.jpg",  size: "40x40" %>
						<% end %>
				 	</td>
					<td><%= link_to book.title ,book_path(book.id) %></td>
					<td><%= book.body %></td>
				</tr>
			</tbody>
		<% end %>
	</table>
</div>

<div class="col-xs-10">
	<h2>gmap</h2>
	<div id='map'></div>

	<style>
	#map{
	  height: 400px;
	}
	</style>

	<script>
	function initMap(){
	  let map = new google.maps.Map(document.getElementById('map'), {
	  center: {lat: -34.397, lng: 150.644},
	  zoom: 8
	  });
	}
	</script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBy5NPpTddCIADV-mAiWJyrgl9eFegKsmM&callback=initMap" async defer></script>
</div>

