<div class="col-xs-3">
	<%= render 'users/profile', user: @book.user %>
	<%= render 'relationships/follow_button', user: @book.user %>
	<%= render 'books/new_book', book: @book_new %>
</div>

<div class="col-xs-9">
	<h2>Book detail</h2>

	<table class="table">
		<tbody>
			<tr>
				<td><%= attachment_image_tag @book.user, :profile_image, format:'jpeg' , fallback: "img/no_image.jpg",  size: "40x40"%><br>
					<%= link_to @book.user.name , "/users/#{@book.user.id}" %>
				</td>
				<td><%= @book.title %></td>
				<td><%= @book.body %></td>
				<td class="favorite_<%= @book.id %>">
		          <%= render 'favorites/favorite', book: @book %>
		        </td>
		        <td>
		          <P>コメント数: <%= @book.book_comments.count %></P>
		        </td>
				<td>
					<% if @book.user == current_user %>
						<%= link_to "Edit", edit_book_path(@book.id), class:"btn btn-success" %>
					<% end %>
				</td>
				<td>
					<% if @book.user == current_user %>
						<%= link_to "Destroy", book_path(@book) ,class:"btn btn-danger", method: :delete, "data-confirm" => "本当に削除しますか?" %>
					<% end %>
				</td>
			</tr>
		<tbody>
	</table >

	<div class="comment_<%= @book.id %>">
		<%= render 'book_comment', book: @book, book_comment: @book_comment %>
	</div>

	<div class="comment-form">
		<%= render 'comment_form', book: @book, book_comment: @book_comment %>
	</div>

</div>