<div class="container">
	<div class="row">
		<div class="col-xs-3">

			<%= render 'users/profile', user: @book.user %>
			<%= render 'relationships/follow_button', user: @book.user %>
			<%= render 'books/new_book', book: @book_new %>
		</div>

			<div class="col-xs-9">
				<h2>Book detail</h2>

				<table class="table">
					<tbody>
					<tr>
						<td><%= attachment_image_tag @book.user, :profile_image, format:'jpeg' , fallback: "img/no_image.jpg",  size: "40x40"%><br>
							<%= link_to @book.user.name , "/users/#{@book.user.id}" %>
						</td>
						<td><%= @book.title %></td>
						<td><%= @book.body %></td>

						<td>
							<% if @book.favorited_by?(current_user) %>
				             	<%= link_to book_favorites_path(@book), method: :delete do %>
				               		<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
				              		<%= @book.favorites.count %>
				         	<% end %>
				      
				            <% else %>
				            	<%= link_to book_favorites_path(@book), method: :post do %>
				              		<i class="fa fa-heart-o" aria-hidden="true"></i>
				              		<%= @book.favorites.count %>
				              	<% end %>
				        	<% end %>
				        </td>

				        <td>
				        	<P>コメント数: <%= @book.book_comments.count %></P>
				        </td>

						<td>
							<% if @book.user == current_user %>
							<%= link_to "Edit", edit_book_path(@book.id), class:"btn btn-success" %>
							<% end %>
						</td>
						<td>
							<% if @book.user == current_user %>
							<%= link_to "Destroy", book_path(@book) ,class:"btn btn-danger", method: :delete, "data-confirm" => "本当に削除しますか?" %>
							<% end %>
						</td>
					</tr>
					<tbody>
				</table >

				<table class="show-table">
					<% @book.book_comments.each do |book_comment| %>
					<tr>
						<td>
							<%= link_to user_path(book_comment.user) do %>
              					<%= attachment_image_tag book_comment.user, :profile_image, :fill, 50, 50, fallback: "img/no_image.jpg", size: "50x50" %><br>
              					<%= book_comment.user.name %>
            				<% end %>
						</td>
						<td><%= book_comment.comment %></td>
						
						<% unless current_user != book_comment.user %>
				            <td><%= link_to 'Destroy', book_book_comments_path(book_comment.id), class: 'btn-sm btn-danger', method: :delete %></td>
				        <% end %>
					</tr>
					<% end %>
				</table>

				<div>
					<%= form_for [@book, @book_comment] do |f| %>
        				<%= f.text_area :comment, size: "90x5" %>
        				<%= f.submit '送信' %>
        			<% end %>
				</div>


			</div>
		</div>
	</div>
<div>

